extends ../layout
block content
	.container
		.row
			.col-md-12
				table.table.table-hover.table-bordered
					thead
						tr
							th(style="text-align:center;width:60px;") Num
							th Name
							th Email
							th Phone
							th Avatar
							th Register Time
							th(style="text-align:center;width:120px;") Modify
					tbody
						each item,index in users
							tr(class="item-id-#{item._id}")
								td(style="vertical-align: middle;text-align:center;") #{index+1}
								td(style="vertical-align: middle;") #{item.name}
								td(style="vertical-align: middle;") #{item.email}
								td(style="vertical-align: middle;") #{item.tel}
								td(style="vertical-align: middle;") #{item.img}
								td(style="vertical-align: middle;") #{moment(item.meta.createAt).format("MM/DD/YYYY")}
								td(style="vertical-align: middle;text-align:center")
									button.btn.btn-danger.del-user(type="button",data-id="#{item._id}",style="margin:0 5px;",onclick="del(this,'/admin/user/list')") Delete
	script(src="/js/admin.js")